.Dest .dest-destination, .Dest .dest-arrive{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;

}
.separi{
    color: var(--primaryColor);
}

.Dest input {
    border-radius: var(--radius);
    width: 400px;
    height: 50px;
    font-size: 24px;
    border: 0;
    padding-bottom: 10px
    
    }
.Dest input::placeholder{
    font-weight: 300;
    font-size: 15px;
    color: rgb(158, 158, 158);
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    padding-left: 10px;

}
.Dest input:focus{
    outline-color: var(--primaryColor);
}

.Dest {
    font-size: 24px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.Dest .separi {
    margin-left: 8px;
}
.dest-arrive{
    margin-left: 2.3px;
}