.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

header {
  background-color: transparent;
  width: 100%;
  z-index: 10;
}

.header-btns {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
}

.header-btns-a {
  font-size: 18px;
  background-color: transparent;
  /*color: var(--k7al);*/
  color: #000000;
}

.header-logo {
  font-size: 42px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.header-left {
  display: flex;
  flex-direction: row;
  width: 399.33px;
  align-items: center;
  justify-content: space-between;
  gap: 64px;
}

.header-logo h2 {
  font-size: 42px;
  font-weight: bold;
}

.signin {
  background-color: var(--k7al-opacity);
  color: var(--byad);
  width: 113px;
  border-radius: var(--radius);
  border: none;
  height: 47px;
  font-size: 18px;
  /*font-family: "ubuntu";*/
  cursor: pointer;
}

.signin:active {
  opacity: 0.5;
}

.header-right select {
  outline: none;
  border: none;
  /*margin-top: 20px;*/
  /*background-color: var(--k7al-opacity);*/
  background: transparent;
  /*width: 47px;*/
  /*height: 25px;*/
  /*border-radius: var(--radius);*/
  color: var(--byad);
  border: none;
}

.header-right option {
  color: black;
  padding: 1rem;
  background-color: white;
}

.header-right {
  /*display: flex;*/
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
