

.header-container {
    padding: 46px 64px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: transparent;
    position: absolute;
    z-index: 998;
    width: 100%;
    
}

header img {
    width: 200px;
}

.header-btns {
    display: flex;
    flex-direction: row;
    gap: 35px;
    align-items: center;
}

.header-btns button {
    margin: 0;
    padding: 0;
    font-size: 24px;
    background-color: transparent;
    color: var(--k7al);
    font-size: 120%;
    border: 0;
    border-radius: var(--radius);
    cursor: pointer;
}
.header-logo{
    font-size: 42px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;
}
.header-left{
    display: flex;
    flex-direction: row;
    width: 399.33px;
    align-items: center;
    justify-content: space-between;
    gap: 64px;




}
.header-logo h2{
    font-size: 46px;
    padding: 0;
    margin: 0;
}