

.header-container {
    padding: 46px 64px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: transparent;
    position: absolute;
    z-index: 998;
    width: 100%;
    
}

header img {
    width: 200px;
}

.header-btns {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.header-btns button {
    width: 100px;
    height: 50px;
    font-size: 14px;
    font-weight: 700;
    background-color: var(--secondaryColor);
    color: var(--k7al);
    font-size: 120%;
    border: 0;
    border-radius: var(--radius);
    cursor: pointer;
}
.header-logo{
    font-size: 42px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}
.header-left{
    display: flex;
    flex-direction: row;




}
.header-logo h2{
    font-size: 46px;
    padding: 0;
    margin: 0;
}