
@font-face {
    font-family: 'Ubuntu';
    src: url('../public/fonts/Ubuntu-Regular.ttf');
}


:root {
    --primaryColor: #219ebc;
    --primaryColor-dark: #023047;
    --secondaryColor: #ffb703;
    --thirdWheelColor: #fb8500;
    --thirdWheelColor-dark: #8ecae6;
    --k7al: #1a1a1a;
    --byad: #f4f4f4;
    --gris: #333;
    --radius: 7px;
}


body {
    margin: 0;
    padding: 0;
    background-color: var(--thirdWheelColor-dark);
    font-family: 'Ubuntu';
}


.root {
    height: 100%;
    min-height: 1000px;
    width: 100%;
}
























/* --------- USFUL ---------------------*/

boxshadow {
    box-shadow: 1px 1px 111px 8px rgba(0,0,0,0.24);
    -webkit-box-shadow: 1px 1px 111px 8px rgba(0,0,0,0.24);
    -moz-box-shadow: 1px 1px 111px 8px rgba(0,0,0,0.24);
}