h4 {
    margin: 0;
}

p {
    margin: 0;
}



.MapPage .map-menu{
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    width: 350px;
    height: 100vh;
    z-index: 900;
    background-color: var(--thirdWheelColor);
    display: flex;
    flex-direction: column;;
    padding: 0 64px;
    gap: 32px;

}

.MapPage .map-menu .exit-menu {
    margin-top: 32px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.MapPage .map-menu .exit-menu  button{
    background-color: var(--k7al-opacity);
    height: 46px;
    width: 46px;
    color: var(--byad);
    font-size: 110%;
    border: 0;
    border-radius: var(--radius);
    cursor: pointer;
}

.MapPage .map-menu .exit-menu h2 {
    font-size: 42px;
}

.MapPage .map-menu .dest-onmenu{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.MapPage .map-menu .dest-onmenu .remaining {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    gap: 32px;
}

.MapPage .map-menu .dest-onmenu .remaining .station {
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-between;
    align-items: center;
}

.MapPage .map-menu .dest-onmenu .remaining .station .station-left {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.MapPage .map-menu .dest-onmenu .remaining .station .station-left .nametype-station p {
    opacity: .7;
    font-size: 14px;
}
/* width */
::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--primaryColor);
    border-radius: 10px;
  }