.page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 70vw;
    height: 500px;
    background-color: var(--thirdWheel);
    border-radius: var(--radius);
    margin: auto;
    margin-top: 50px;
    padding: 10px;
    text-align: center;
    font-size: 150%;
    color: var(--secondaryColor);
    font-weight: 900;
    box-shadow: 1px 1px 111px 8px rgba(0,0,0,0.24);
    -webkit-box-shadow: 1px 1px 111px 8px rgba(0,0,0,0.24);
    -moz-box-shadow: 1px 1px 111px 8px rgba(0,0,0,0.24);
    
}

.pagelogo {
    width: 400px;
}

.home {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.rightHome {
    height: 1024px;
    width: 590px;
    
    background: url('../IMG/hero.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.leftHome {
    margin-left: 64px;
    border: black 1px solid;
}

.hero-btn {
    bottom: -50px;
    left: calc(50% - 200px);
    width: 400px;
    height: 35px;
    font-size: 100%;
    font-family: 'ubuntu';
    font-weight: 600;
    background-color: var(--secondaryColor);
    border-radius: var(--radius);
}