.home {
  /* margin-top: -145.6px; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
  /* gap: 100px; */
}

.hero-texts {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.hero-right {
  width: 50%;
}

.hero-image {
  position: absolute;
  right: 0;
  width: 40vw;
  height: 100vh;
  background-color: blue;
  background: url("../IMG/hero-1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 10;
}

.hero-left {
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 80px 0 0 64px;
}

.hero-title {
  font-style: normal;
  font-weight: 700;
  font-size: 76px;
  color: #000000;
}

.hero-description {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
}


@media only screen and (max-width: 600px) {
  .hero-image {
    top: 0;
    width: 100vw;
    z-index: 10;
    background-size: cover;
    background-position: center -50px;
  }



  .hero-title {
    font-size: 46px;
    /* position: absolute;
    top: 100px;
    left: 20px; */
    color: var(--thirdWheelColor);
  }

  .hero-descriptipn{
    /* position: absolute;
    top: 210px;
    left: 20px; */
    font-size: 14px;
    color: var(--thirdWheelColor);
    width: 90%;
  }

  .hero-texts {
    position: absolute;
    top: 100px;
    left: 20px;
    gap: 5px;
  }

  .hero-left {
    width: fit-content;
    z-index: 900;
    background-color: var(--thirdWheelColor);
    margin-top: 270Px;
    border-radius: 8px;
    padding: 50px 0 0 20px;
    justify-content: start;
    gap: 50px;
  }

  .cta-container {
    margin: 0;
    width: 60%;
  }
}