.home {
  /* margin-top: -145.6px; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
  /* gap: 100px; */
}

.hero-texts {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.hero-right {
  width: 50%;
}

.hero-image {
  position: absolute;
  right: 0;
  width: 40vw;
  height: 100vh;
  background-color: blue;
  background: url("../IMG/hero-1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 10;
}

.hero-left {
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 80px 0 0 64px;
}

.hero-title {
  font-style: normal;
  font-weight: 700;
  font-size: 76px;
  color: #000000;
}

.hero-description {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
}