.signup-page {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
}

.signup-page-image {
  width: 50vw;
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  background-color: blue;
  background: url("../IMG/hero-1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.signup-page-left {
  width: 49%;
  gap: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.signup-texts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signup-title {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 100%;
  /* identical to box height, or 48px */

  color: #000000;
}

.signup-description {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */

  text-align: center;

  color: #000000;
}

.signup-page-main-content {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 10px;
  max-width: 500px;
}

.signup-page-inputs {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.signup-page-right {
}

.signup-signup {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  /* identical to box height, or 16px */

  color: #000000;
  align-self: start;
}

.signup-signup-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  /* identical to box height, or 16px */

  color: #3e54ac;

  cursor: pointer;
}

.signup-button {
  width: 50%;
  /*align-self: end;*/
}

.inputs {
  width: 100%;
}
