.cta-container {
  margin: 0 45%;
  width: 40%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 24px;
  gap: 16px;

  background: #3e54ac;
  border-radius: 8px;

  cursor: pointer;

  transition: 125ms;
}

.cta-container:hover {
  scale: 0.975;
}

.cta-text {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;

  color: #ffffff;
}
